.logo {
  display: flex;
  align-content: center;
  align-items: center;
}

.logo img {
  width: 47px;
  height: 47px;
}

.logo div {
  font-size: 18px;
}

nav {
  color: #1C1D1E;
  font-weight: bold;
}